<?xml version="1.0"?>
<configuration>
    <property name="SENT_EMAILS_LOG" value="logs/emails_sent/emails_sent.log"/>
    <property name="LOSTBOYZ_QUEUE_SERVICE_LOG" value="logs/lostboyz-queue-service.log"/>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SENT_EMAILS_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                logs/emails_sent_archived/emails_sent.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>

            <!--Each archived file should at most be 10MB-->
            <maxFileSize>10MB</maxFileSize>

            <!--Delete old files after all log files total up  to a terabyte-->
            <totalSizeCap>1000GB</totalSizeCap>

            <!-- Keep files for a 1000 days-->
            <maxHistory>1000</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--<file>${LOSTBOYZ_QUEUE_SERVICE_LOG}</file>
        <immediateFlush>false</immediateFlush>-->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="com.mtotowamkwe.lostboyzqueueservice.api.impl" level="info" additivity="false">
        <appender-ref ref="ROLLING_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>